body{
    background: rgb(255, 255, 255);
}

.login-tab{
    background: rgb(197, 197, 197);
    width: 55%;
    height: 30rem;
    margin-top: 7%;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.3);
    border-radius: 2%;
}

.login-title{
    color: rgb(197, 197, 197);
    display: flex;
    height: 100%;
}

.login-title .bag-1{
    width: 50%;
    height: 100%;
    background: rgb(226, 226, 226);
    box-shadow: 10px 7px 10px rgba(0.4, 0.1, 0.1, 0.1);
    border-radius: 3%;
}

.login-title .bag-2{
    width: 50%;
    height: 100%;
    box-shadow: 10px 7px 10px rgba(0.4, 0.1, 0.1, 0.1);
    
    display: NONE;
}

.login-title .judul-1 .login-q{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

.login-title .judul-2 .signup-q{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* display: none; */
}

.login-title .bag-1 .bagian-form-login{
    background: rgb(235, 235, 235);
    width: 70%;
    height: 70%;
    box-shadow: 10px 7px 10px rgba(0.4, 0.1, 0.1, 0.1);
    
}

.login-title .bag-2 .bagian-form-signup{
 
    width: 70%;
    height: 70%;
    box-shadow: 10px 7px 10px rgba(0.4, 0.1, 0.1, 0.1);
}

.login-title .bag-1 .bagian-form-login form{
    margin-top:10% ;
}

.label-login{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing:1px;
    
}